<!doctype html>
<html ng-app="hb.sh441">
<head>
	<title>sh441</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1" />
	<script type='text/javascript' src="vendor/api-check/7.5.0/api-check.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-animate.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-aria.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-messages.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-sanitize.js"></script>
	<script type='text/javascript' src="vendor/angular-js/1.4.1/angular-touch.js"></script>
	<script type='text/javascript' src="vendor/angular-formly/6.16.1/angular-formly.js"></script>
	<script type='text/javascript' src="vendor/angular-formly-bootstrap/4.4.0/angular-formly-bootstrap.js"></script>
	<script type='text/javascript' src="vendor/angular-ui-router/2.1.4/angular-ui-router.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
	<script type='text/javascript' src="vendor/moment/2.10.3/moment.js"></script>
	<!-- import factory  -->
	<script type='text/javascript' src="script/app/module/module.factory.js"></script>
	<script type='text/javascript' src="script/app/factory/base.factory.js"></script>
	<script type='text/javascript' src="script/app/factory/auth.factory.js"></script>
	<script type='text/javascript' src="script/app/factory/facility.factory.js"></script>
	<script type='text/javascript' src="script/app/factory/member.factory.js"></script>
	<!-- import controller -->
	<script type='text/javascript' src="script/app/module/module.controller.js"></script>
	<script type='text/javascript' src="script/app/controller/base.controller.js"></script>
	<script type='text/javascript' src="script/app/controller/auth.controller.js"></script>
	<script type='text/javascript' src="script/app/controller/app.controller.js"></script>
	<script type='text/javascript' src="script/app/controller/facility/facility-controller.js"></script>
	<script type='text/javascript' src="script/app/controller/event/event.controller.js"></script>
	<script type='text/javascript' src="script/app/app.js"></script>
	<script type='text/javascript' src="script/app/app.route.js"></script>
	<link rel="stylesheet" href="vendor/angular-material/0.9.4/angular-material.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.1.34/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="vendor/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="vendor/angular-bootstrap-datetimepicker/0.3.13/datetimepicker.css"/>
	<link rel="stylesheet" href="style/app.css"/>
</head>
<body layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h3>SH 4-4-1</h3>
        <div flex></div>
      </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
          <ul class="list-group">
			  <li ng-show="isAuth" class="list-group-item" ng-click="signOut('left')">Sign Out</li>
			  <li ng-show="isAuth" class="list-group-item" ng-click="signOut('left')">My Profile</li>
			  <li ng-show="isAuth" class="list-group-item" ng-click="createEvent('left')">Create Event
			  	<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
			  </li>
			</ul>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding"><div ui-view></div></md-content>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="vendor/jquery/jquery.min.2.1.1.js"></script>
    <script src="vendor/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type='text/javascript' src="vendor/angular-bootstrap-datetimepicker/0.3.13/datetimepicker.js"></script>
	<script type='text/javascript' src="vendor/angular-number-picker/angular-number-picker.js"></script>
  </body>
</html>